.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.description{
    text-align: center;

}

.description__lista{
    list-style: none;
    padding: 0;
    margin: 0;
}
.buttonCart{
    font-size: larger;
    color: #333;
    background-color: greenyellow;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 2px 2px;
}
.buttonCart:hover{
    color: #fff;
    background-color: seagreen
}