.detail{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
p{
    margin-bottom: 0;
}
img{
    width: 500px
}
.description{
    text-align: center;

}

.description__lista{
    list-style: none;
    padding: 0;
    margin: 0;
}
.buttonCart{
    font-size: larger;
    color: #333;
    background-color: greenyellow;
    text-decoration: none;
    padding: 0.2rem;
    font-weight: 600;
    border-radius: 5px 20px 5px 20px;
    box-shadow: 2px 2px;
    margin: 1rem auto;
    width: 200px;
}
.buttonCart:hover{
    color: #fff;
    background-color: seagreen
}

@media screen and (max-width: 992px){
    img{
        width: 400px;
    }
    .detailContainer{
        padding: 0rem;
    }
    .detail{
        padding: 0.5rem;
        justify-content: center;
    }
}
@media screen and (max-width: 375px){
    img{
        width: 300px;
    }
}