.imgItem{
    width: 250px;
    height: 250px;
  
}
.item-title{
    text-align: center;
    text-transform: uppercase;
}
  
.buttonBuy{
    font-size: larger;
    color: #333;
    background-color: greenyellow;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 2px 2px;
    width: 40%;
    margin: auto;
}
.buttonBuy:hover{
    color: #fff;
    background-color: seagreen
}
.item-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.item{
    padding: 1.5rem;
}